[build]
  base = "."
  command = "corepack enable && pnpm -w run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  SKIP_ENV_VALIDATION = "true"
  COREPACK_ENABLE_DOWNLOAD_PROMPT = "0"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
